*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(#E6A03E,#3EA5E6);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}


.header{
    color: purple;
}
.body-form{
    padding: 20px;
    background-color: #fff;
    height: 240px;
    width: 240px;
    display: inline-block;
}

input{
    border: none;
    border-bottom: 1px solid #6D7067;
    width: 100px;
    height: 20px;
    margin-top: 20px;   
}

label{
    margin-top: 20px;
}

.required-field{
    color: #d80835;
}

.botao{
    border: none;
    color: #fff;
    height: 15px;
    width: 75px;
    cursor: pointer;
    margin-top: 15px;
    background-color: pink;
}


